<%- include ("partials/header")%>

<form action="/assignment" method= "get">
    <button>
        Assignment
    </button>
</form>
<form action="/homework" method= "get">
    <button>
        student
    </button>
</form>


<img width = "70px" src = "https://i.postimg.cc/HsWm9cfw/log-removebg-preview.png" />